@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY( -10rem );
    }

    80% {
        transform: translateY( 1rem );
    }

    100% {
        opacity: 1;
        transform: translate( 0 );
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX( -10rem );
    }

    80% {
        transform: translateX( 1rem );
    }

    100% {
        opacity: 1;
        transform: translate( 0 );
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY( 3rem );
    }

    100% {
        opacity: 1;
        transform: translate( 0 );
    }
}

@keyframes wobble {
    0% {
      transform: rotate(-10deg);
    }
    33% {
      transform: rotate(15deg);
    }
    67% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }