// Colors
$color-primary: #f08d4d;
$color-primary-light: #ffbb5c;
$color-primary-dark: #e25f3e;

$color-secondary-light: #5ca861;
$color-secondary-dark: #228b22;

$color-tertiary-light: #2e5a88;
$color-tertiary-dark: #000080;

$color-grey-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114 rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 1rem;